<!DOCTYPE html>
<html lang="en">

<head>
    <title>Waterfall Theme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="shortcut icon" href="assets/pics/favicon.ico"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- LINK YOUR COPY OF PINEAPPLE HERE -->
    <link rel="stylesheet" href="../../pineapple/dist/css/pineapple.min.css">
    <link rel="stylesheet" href="assets/css/waterfall.min.css">
    <script src="https://use.fontawesome.com/12e4399d79.js"></script>
    <meta name="author" content="Pineapple Team">
    <meta name="keywords" content="waterfall,theme,pineapple,bootstrap">
    <meta name="description" content="Company description goes here.">
</head>

<body id="home" data-spy="scroll" data-target=".navbar">
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#home">
                <!-- TODO: Remove these inline styles -->
                <h1 style="display: inline-block;font-size: 1.5rem;padding-top: 8px;">WATERFAL THEME</h1>
                <img src="#" width="36" height="36" alt="Logo"
                    style="display:inline-block;margin-top:-10px;margin-left: 5px;">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#myNavbar" aria-controls="bsNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#section1">SECTION1</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section2">SECTION2</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section3">SECTION3</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section4">SECTION4</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="pa-banner">
        <div class="pa-banner-text">
            <img src="../coming-soon/assets/pics/banner.jpg" class="pa-banner-logo" alt="logo">
            <br />
            <h1>Your company tagline goes here, banner overlay info, etc.</h1>
            <br />
            <!-- TODO: Make button white, highlight when scrolled over -->
            <a href="#section2" class="btn btn-lg btn-banner" role="button">SCROLL BUTTON</a>
        </div>
    </div>

    <div id="section1"></div>
    <div class="container-fluid text-center pa-slideanim">
        <h2>Section 1</h2>
        <p>CONTENT HERE</p>
        <a href="#"><button class="btn btn-lg btn-other">BUTTON</button></a>
    </div>

    <div id="section2"></div>
    <div class="container-fluid text-center pa-slideanim pa-bg-gray">
        <h2>Section 2</h2>
        <p>CONTENT HERE</p>
    </div>

    <div id="section3"></div>
    <div class="container-fluid text-center pa-slideanim">
        <h2>Section 3</h2>
        <p>CONTENT HERE</p>
    </div>

    <div id="section4"></div>
    <div class="container-fluid text-center pa-slideanim pa-bg-gray">
        <h2>Section 4</h2>
        <br />
        <h3 class="pal-font-s">Secondary Title</h3>
        <br />
        <div class="row pa-slideanim">
            <div class="col-sm-4">
                <div class="pa-card">
                    <h3 class="pa-icon">JS</h3>
                    <h4>Title<br />Here</h4>
                    <a href="#">Link</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="pa-card">
                    <h3 class="pa-icon">JS</h3>
                    <h4>Title<br />Here</h4>
                    <a href="#">Link</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="pa-card">
                    <h3 class="pa-icon">JS</h3>
                    <h4>Title<br />Here</h4>
                    <a href="#">Link</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="fa fa-chevron-up fa-lg"></span>
        </a>
        <p>Built on <a href="https://getbootstrap.com">Bootstrap</a> with <a
                href="https://github.com/justintime50/pineapple">Pineapple</a></p>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <!-- LINK YOUR COPY OF PINEAPPLE HERE -->
    <!-- TODO: Replace with minified link here -->
    <script src="../../pineapple/dist/js/pineapple.js"></script>

</body>

</html>
