<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Waterfall Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="#" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- LINK YOUR COPY OF PINEAPPLE HERE -->
    <link rel="stylesheet" href="../../pineapple/dist/css/pineapple.min.css" />
    <link rel="stylesheet" href="assets/css/waterfall.min.css" />
    <meta name="author" content="Pineapple Team" />
    <meta name="keywords" content="waterfall,theme,pineapple,bootstrap" />
    <meta name="description" content="Company description goes here." />
  </head>

  <body id="home" data-spy="scroll">
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#home">
          <h1 class="navbar-heading">WATERFAL THEME</h1>
          <img src="#" alt="Logo" class="navbar-logo" />
        </a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#myNavbar"
          aria-controls="bsNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#section1">SECTION1</a></li>
            <li class="nav-item"><a class="nav-link" href="#section2">SECTION2</a></li>
            <li class="nav-item"><a class="nav-link" href="#section3">SECTION3</a></li>
            <li class="nav-item"><a class="nav-link" href="#section4">SECTION4</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="pa-banner">
      <div class="pa-banner-text">
        <img src="../coming-soon/assets/pics/banner.jpg" class="pa-banner-logo" alt="logo" />
        <br />
        <h1>Your company tagline goes here, banner overlay info, etc.</h1>
        <br />
        <a href="#section2" class="btn btn-lg pa-btn-banner" role="button">SCROLL BUTTON</a>
      </div>
    </div>

    <div id="section1"></div>
    <div class="container-fluid text-center pa-slideanim">
      <h2>Section 1</h2>
      <p>CONTENT HERE</p>
      <a href="#home" class="btn btn-lg btn-secondary" role="button">BUTTON</a>
    </div>

    <div id="section2"></div>
    <div class="container-fluid text-center pa-slideanim pa-bg-gray">
      <h2>Section 2</h2>
      <p>CONTENT HERE</p>
    </div>

    <div id="section3"></div>
    <div class="container-fluid text-center pa-slideanim">
      <h2>Section 3</h2>
      <p>CONTENT HERE</p>
    </div>

    <div id="section4"></div>
    <div class="container-fluid text-center pa-slideanim pa-bg-gray">
      <h2>Section 4</h2>
      <br />
      <h3 class="pal-font-s">Secondary Title</h3>
      <br />
      <div class="row pa-slideanim">
        <div class="col-sm-4">
          <div class="pa-card">
            <h3 class="pa-icon">JS</h3>
            <h4>Title<br />Here</h4>
            <a href="#">Link</a>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="pa-card">
            <h3 class="pa-icon">JS</h3>
            <h4>Title<br />Here</h4>
            <a href="#">Link</a>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="pa-card">
            <h3 class="pa-icon">JS</h3>
            <h4>Title<br />Here</h4>
            <a href="#">Link</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center">
      <a href="#home" title="To Top" class="pa-scroll">
        <span class="fa fa-chevron-up fa-lg"></span>
      </a>
      <p>
        Built on <a href="https://getbootstrap.com">Bootstrap</a> with
        <a href="https://github.com/justintime50/pineapple">Pineapple</a>
      </p>
    </footer>

    <!-- SCRIPTS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/0dd4ecd465.js" crossorigin="anonymous"></script>
    <!-- LINK YOUR COPY OF PINEAPPLE HERE -->
    <script src="../../pineapple/dist/js/pineapple.min.js"></script>
  </body>
</html>
