// Buttons
.pa-btn {
  margin: 20px;
  padding: 10px 30px;
  background-color: $pa-color-off-white;
  border: solid 1px $pa-color-text;
  color: $pa-color-text;
}

.pa-btn-blue {
  color: $pa-color-blue;
  border-color: $pa-color-blue;
  background-color: transparent;
}

.pa-btn-blue:hover {
  background-color: $pa-color-blue;
  color: $pa-color-white;
  border-color: $pa-color-blue;
}

@media only screen and (width <=768px) {
  .pa-btn,
  .pa-btn-blue {
    width: 100%;
    margin-bottom: 35px;
  }
}
