// Buttons
.pa-btn {
  margin: 20px;
  padding: 10px 30px;
  background-color: $color-off-white;
  border: solid 1px $color-text;
  color: $color-text;
}

.pa-btn-banner {
  color: $color-white;
  border-color: $color-white;
  background-color: transparent;
}

.pa-btn-banner:hover {
  background-color: $color-blue;
  color: $color-white;
  border-color: $color-blue;
}

.pa-btn-blue {
  color: $color-blue;
  border-color: $color-blue;
  background-color: transparent;
}

.pa-btn-blue:hover {
  background-color: $color-blue;
  color: $color-white;
  border-color: $color-blue;
}

@media only screen and (max-width: 768px) {
  .pa-btn,
  .pa-btn-banner,
  .pa-btn-blue {
    width: 100%;
    margin-bottom: 35px;
  }
}
