//
// Buttons
//

.pa-btn {
  margin: 20px;
  padding: 10px 30px;
  background-color: #eee;
  border: solid 1px gray;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .pa-btn {
    width: 100%;
    margin-bottom: 35px;
  }
}

.pa-btn-banner {
  color: $color-white;
  border-color: $color-white;
  background-color: transparent;
}

.pa-btn-banner:hover {
  background-color: $color-blue;
  color: $color-white;
  border-color: $color-blue;
}

.pa-btn-blue {
  color: $color-blue;
  border-color: $color-blue;
  background-color: transparent;
}

.pa-btn-blue:hover {
  background-color: $color-blue;
  color: $color-white;
  border-color: $color-blue;
}
