//
// Hacks
//

//
// Fullscreen Youtube Fix
// Source: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
//

.pa-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.pa-video-container iframe,
.pa-video-container object,
.pa-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//
// Fullscreen Boostrap Carousel Image
// Source: https://mdbootstrap.com/full-page-carousel/
//

// For the carousel to work properly, you must declare the commented code below in your css.

/*
html,
body {
  height: 100%;
}
*/

.pa-carousel-full,
.pa-carousel-item-full,
.pa-active {
  height: 100%;
}

.pa-carousel-item-full {
  background-position: center;
}

.pa-carousel-inner-full {
  height: 100%;
}

// The following images are placeholders. You must declare your own images in your project.
.pa-carousel-item-full:nth-child(1) {
  background-image: url("https://mdbootstrap.com/images/regular/nature/img%20(54).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pa-carousel-item-full:nth-child(2) {
  background-image: url("https://mdbootstrap.com/images/regular/nature/img%20(4).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pa-carousel-item-full:nth-child(3) {
  background-image: url("https://mdbootstrap.com/images/regular/nature/img%20(3).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
