// Structure

// Display styles
.pa-display-none {
  display: none;
}

.pa-inline-block {
  display: inline-block;
}

// Spacing styles
.pa-padding-0 {
  padding: 0;
}

.pa-margin-0 {
  margin: 0;
}

// Flexbox styles
.pa-flex-container {
  display: flex;
}

.pa-flex-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
