// Variables

$pa-color-blue: #007dda;
$pa-color-text: #818181;
$pa-color-black: #000;
$pa-color-black-opaque-20: rgb(0 0 0 / 20%);
$pa-color-black-opaque-35: rgb(0 0 0 / 35%);
$pa-color-white: #fff;
$pa-color-off-white: #f6f6f6;
