//
// Variables
//

$color-blue: #007dda;
$color-red: red;
$color-text: #818181;
$color-black: #000;
$color-black-opaque-20: rgba(0, 0, 0, 0.2);
$color-black-opaque-50: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-off-white: #f6f6f6;
