// Variables

$color-blue: #007dda;
$color-red: red;
$color-text: #818181;
$color-black: #000;
$color-black-opaque-20: rgb(0 0 0 / 20%);
$color-black-opaque-35: rgb(0 0 0 / 35%);
$color-black-opaque-50: rgb(0 0 0 / 50%);
$color-white: #fff;
$color-off-white: #f6f6f6;
