body {
  position: relative;
}

.navbar {
  background-color: transparent;
}

.pa-banner {
  background-image: url("../templates/coming-soon/assets/pics/banner.jpg");
}

.pa-btn-banner {
  width: 50%;
}

.normal-carousel {
  width: 50%;
  height: 500px;
}

.pa-slanted-container {
  background-color: green;
  color: #fff;
}
