<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- LINK YOUR COPY OF PINEAPPLE HERE -->
    <link rel="stylesheet" href="assets/css/pineapple.css">
    <title>COMING SOON</title>
    <style>
        body,
        html {
            height: 100%;
        }

        footer {
            font-size: 14px;
            padding: 10px;
        }

        .pa-banner {
            background-image: url("assets/pics/banner.jpg");
        }
    </style>
</head>

<body>

    <div class="pa-banner pa-banner-darken">
        <div class="pa-banner-text">
            <h1 class="pa-banner-heading">COMPANY NAME</h1>
            <p class="pa-banner-sub-heading">We'll be right back.</p>
        </div>
    </div>

    <footer>
        <div class=" container text-center">
            <br />
            <p>Design: <a href="#">My Awesome Web Design</a></p>
            <br />
        </div>
    </footer>

</body>

</html>
