<!DOCTYPE html>
<html lang="en">

<head>
    <title>COMING SOON</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- LINK YOUR COPY OF PINEAPPLE HERE -->
    <link rel="stylesheet" href="../../pineapple/dist/css/pineapple.min.css">
    <link rel="stylesheet" href="assets/css/coming-soon.min.css">
</head>

<body>
    <div class="pa-banner pa-banner-darken">
        <div class="pa-banner-text">
            <h1 class="pa-banner-heading">COMPANY NAME</h1>
            <p class="pa-banner-sub-heading">We'll be right back.</p>
        </div>
    </div>

    <footer>
        <div class="container text-center">
            <br />
            <p>Design: <a href="#">My Awesome Web Design</a></p>
            <br />
        </div>
    </footer>
</body>

</html>
